.btn-global{

    padding:14px 24px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-weight:bold;

    transition:.3s;

}

.btn-global:hover{

    background:#1d4ed8;

    transform:scale(1.05);

}